:root {
    --c-brand: #4D5AE5;
    --c-primary: #2E2F42;
    --c-primary-light: #FFF;
    --c-background: #2E2F42;
    --c-background-light: #f4f4fd;
    --c-border-: #E7E9FC;

}



h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {

    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.page-nav {}

ul {
    list-style-type: none;
}

button {
    font-family: inherit;
}



/* Header,logo,Navigation */

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e7e9fc
}

.header-nav {
    display: flex;


    align-items: center;


}

.nav-list {
    display: flex;
    gap: 40px;
    margin-left: 76px;


}

.contact-list {
    display: flex;
    gap: 40px;

}

.logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.17;
}

span.logo {
    color: #2E2F42;
}


.nav-link {
    display: inline-block;
    padding: 24px 0 24px;
    color: #2E2F42;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.32px;
}

.nav-link:hover {
    color: #404bbf;
}

.nav-link:focus {
    color: #404bbf;
}

.address-link {

    align-items: center;

    color: #434455;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.32px;

}


.address-link:hover {
    color: #404bbf;
}

.address-link:focus {
    color: #404bbf;
}

.body {
    color: #434455;
    background-color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-size: 14px;
}


a {
    text-decoration: none;
}

/*First section*/

.main-inner {

    padding-bottom: 188px;
    margin-right: auto;
    margin-left: auto;

    background: var(--NAVY-BLUE, #2E2F42);
}




.main-section {
    text-align: center;
    padding-top: 188px;
    padding-bottom: 32px;
    margin-right: auto;
    margin-left: auto;
    max-width: 496px;

    color: #FFF;
    font-family: Roboto, sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    background-color: #2e2f42;
    /* TODO: replace with img*/
}

.main-actions {}


.main-title {
    color: #FFFFFF;
}

.main-button {
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    align-items: flex-start;

    color: #FFF;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.64px;
    background: #4D5AE5;
    cursor: pointer;
}


.main-button:hover {
    color: #FFFFFF;
    background-color: #404BBF;
}

.main-button:focus {
    background-color: #404BBF;
}

/*Second section,main-page*/
.main {
    background-color: #FFF;
}

.second-section {
    margin: 120px 24px 120px 156px;
}

.second-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

}

.main-page {
    color: #2E2F42;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.02em;
    background: #FFF;

}

.main-page-title {
    color: #434455;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.32px;

}

.second-inner {
    display: flex;
    width: 264px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

}

/*Third section (Our-team)*/
.third-section-inner {
    background-color: var(--c-background-light);
}

.team {
    display: flex;
    padding-top: 120px;
    justify-content: space-around;
    margin: 72px;
    color: #2E2F42;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11em;
    letter-spacing: 0.72px;
    text-transform: capitalize;

}

.third-section-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-bottom: 120px;
}

.our-team-link {
    color: #2E2F42;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.4px;
    background-color: #FFFFFF
}

.team-list {
    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.our-team-item {
    color: #434455;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.32px;

}

/*Fourth section (Portfolio)*/
.header-portfolio {
    display: flex;
    justify-content: space-around;
    margin-bottom: 72px;
    background: #FFF;
}

.portfolio {

    padding-top: 120px;

    color: #2E2F42;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    background: #FFF;
}

.portfolio-inner {
    display: inline-block;
    margin: 24px;
    text-decoration: none;
    margin-left: 156px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: 24px;
    margin-bottom: 120px;
    border: 1px solid var(--c-border-);
    background: var(--c-primary-light);
    justify-content: space-around;

}

.portfolio-li-wrapper {
    flex-basis: calc((100%-120px)/6);
}


.portfolio-link {
    color: #2E2F42;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.4px;
}

.portfolio-item {
    color: #434455;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.32px;
}

.port {

    border: 1px solid var(--c-border-);
    gap: 24px;
}


/*Footer*/

.footer-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 1440px;
    height: 312px;
    flex-shrink: 0;
    background: var(--c-background);
    padding: 100px 0 100px;
}

.footer-link {
    font-family: Roboto, sans-serif;
    color: #F4F4FD;
    line-height: 24px;
    letter-spacing: 0.32px;
    background: #2E2F42;
}

.footer-item {
    color: #F4F4FD;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.logo-footer {
    color: #F4F4FD;
}

.test-drive-logo {
    margin-left: 156px;
    margin-bottom: 17.5px;
}

.test-drive-p {
    margin-left: 156px;
    width: 264px;
}

ul,
ol {
    list-style-type: none;
}